<!-- settings page  -->

<ons-page ng-controller="ServerEndpointController"> 
<ons-toolbar fixed-style>
  <div class="center">Server Endpoint</div>
  <div class="right"><ons-toolbar-button onclick="closeApp()">Close</ons-toolbar-button></div>
</ons-toolbar>

<form novalidate class="form-default" name="form" autocomplete="off">

	<div class="input-group">
		<label>Server Endpoint URL</label>
		<input type="url" placeholder="Server Endpoint URL" value="" name="endpoint" ng-model="endpoint" required="required" ng-enter="form.$valid ? continue() : void(0)" autofocus ng-virtual-keyboard="{}">
	  	<div ng-show="form.$submitted || form.endpoint.$touched" class="error">
	    	<span ng-show="form.endpoint.$error.required">Enter a URL</span>
	    	<span ng-show="form.endpoint.$error.url">Please enter a valid URL.</span>
	  	</div>
	</div>
	
	<div class="input-group">
		<ons-button modifier="large" class="" ng-disabled="!form.$valid" ng-click="continue()" tabindex="2">Continue</ons-button>
	</div>
	
</form>

</ons-page> 